<p><img data-type="gif" src="../static/img/second.gif " style="width:100%"><br></p>


<p>点击题目下方<span style="color: rgb(95, 73, 122);"><strong><span style="font-size: 18px;">{%if publish==0%}脱单大表哥{%endif%}{%if publish==1%}川大脱单{%endif%}</span></strong></span>一键关注此账号</p>
{%if page%}
{%for x in magazine%}
<p><span style="font-size: 24px; background-color: rgb(204, 193, 217);">{{page}}.{{loop.index}}{{x["sex"]}}</span></p>
<p><span style="font-size:16px;font-family:宋体">昵称：</span><span style="font-size:16px;font-family:宋体">{{x["nick_name"]}}</span></p>
<p><span style="font-size:16px;font-family:宋体">年龄：</span><span style="font-size:16px">{{x["age"]}}</span></p>
<p><span style="font-size:16px;font-family:宋体">身高：</span><span style="font-size:16px">{{x["height"]}}</span></p>
<p><span style="font-size:16px;font-family:宋体">微信号或邮箱：</span><span style="font-size:16px">{{x["contact_normal"]}}</span></p>
<p><span style="font-size:16px;font-family:宋体">年级院系：</span><span style="font-size:16px;font-family:宋体">{{x["school"]}}</span></p>
<p><span style="font-size:16px;font-family:宋体">兴趣爱好：</span><span style="font-size:16px;font-family:宋体">{{x["hobbies"]}}</span></p>
<p><span style="font-size:16px;font-family:宋体">心动条件：</span><span style="font-size:16px;font-family:宋体">{{x["prefer"]}}</span></p>
<p><span style="font-size:16px;font-family:宋体">家乡：</span><span style="font-size:16px;font-family:宋体">{{x["hometown"]}}</span></p>
<p><center><img data-s="300,640" data-type="jpeg" src="{{x['photo']}}" data-ratio="1.3325" data-w="400" _src="{{x['photo']}}"></center>
    <br> </p>
{%endfor%}
{%endif%}
<hr>
<p>新浪微博搜索“川大脱单”，火娃准备了福利在微博等你！</p>
<p><center><img src="../static/img/cash.jpg" style="width:80%"></center></p>
<p><center>来请我们喝一杯咖啡吧~</center></p>

<p>点击左下方<span style="color: rgb(95, 73, 122);"><strong><span style="font-size: 18px;">阅读原文</span></strong></span>一键报名哟！</p>
<p><img data-type="gif" data-src="http://mmbiz.qpic.cn/mmbiz/Mr1p0S8dRnjJcZSichRGWce2b4icvCYuib0P8meiczUmnEceY9q8X8P4mynnbyZia4Vc3Afxqx8fwZ9fz7JPmcqfJUA/0?wx_fmt=gif" data-ratio="0.12055335968379446" data-w="" src="http://mmbiz.qpic.cn/mmbiz/Mr1p0S8dRnjJcZSichRGWce2b4icvCYuib0P8meiczUmnEceY9q8X8P4mynnbyZia4Vc3Afxqx8fwZ9fz7JPmcqfJUA/0?wx_fmt=gif&amp;tp=webp&amp;wxfrom=5&amp;wx_lazy=1" style="width: auto !important; visibility: visible !important; height: auto !important;"><br></p>
